DATABASE_URL="postgresql://postgres:postgres_password_123@localhost:5432/task_management_db?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="super_secret_jwt_access_key_987654321"
JWT_REFRESH_SECRET="super_secret_jwt_refresh_key_123456789"
PORT=8080
NODE_ENV=development
